<tr>
  <th></th>
  <th class="number" title="Average number of points">Average Points</th>
  <th class="number" title="Total entries">Total Entries</th>
  <th class="number" title="Percent that have a value of 2">Percent Perfect</th>
</tr>
<% users.each do |user| %>
<% next if !user %>
<% collection = user.send(datum) %>
<tr>
  <th><%= link_to user.name, group_membership_path(group, user) %></th>
  <td class="number <%= color_of(collection) %>">
    <%= average_status(collection) %>
  </td>
  <td class="number"><%= collection.count %></td>
  <td class="number"><%= percent_of(collection, 2) %></td>
</tr>
<% end %>
