<h4>Add Member(s)</h4>
<%= form_tag cohort_memberships_path(cohort), method: "post" do %>
  <%= label_tag :user_ids, "Members" %>
  <%= select_tag(:user_ids, options_from_collection_for_select(User.all - cohort.users, :id, :name), multiple: true, class: "js-select2 member_select") %>

  <%= check_box_tag :is_admin %>
  <%= label_tag :is_admin %>

  <%= submit_tag "Add Members" %>
<% end %>
