<% absent      = membership.attendances.where(status: Attendance.statuses[:absent]).count %>
<% tardy        = membership.attendances.where(status: Attendance.statuses[:tardy]).count %>
<% hw_complete  = membership.percent_from_status(:submissions, :complete) %>
<td data-sort-field="tardy" <%= color_of(tardy, {green: 0, red: 5})%>>
  <%= tardy %>
</td>
<td data-sort-field="absent" <%= color_of(absent, {green: 0, red: 2}) %>>
  <%= absent || "N/A" %>
</td>
<td data-sort-field="hw_complete" <%= color_of(hw_complete, {green: 100, red: 80}) %>>
  <%= "#{hw_complete}%" || "N/A" %>
</td>
