<% if @is_admin %>
<section>
  <h3>Observations</h3>
  <% @observations.each do |observation| %>
    <%= render partial: "observations/show", locals: {observation: observation} %>
  <% end %>
  <h4>New observation</h4>
  <%= form_tag group_membership_observations_path(@group, @user) do %>
  <%= render partial: "observations/form", locals: {group: @group, membership: @membership} %>
  <% end %>
</section>
<% end %>

<section>
  <h3>Attendance</h3>
  <p>Tardy: <%= @attendances.select{|a| a.status === 1}.count %>, Absent: <%= @attendances.select{|a| a.status === 0}.count %></p>
  <table>
    <tr>
      <th>Date</th>
      <th>Status</th>
    </tr>
    <% @attendances.each do |attendance| %>
      <% if attendance.status != 2 %>
        <tr>
          <td><%= link_to attendance.date, group_events_path(attendance.event) %></td>
          <td><%= attendance.status_english %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</section>

<section>
  <h3>Assignments</h3>
  <table>
    <tr>
      <th>Assigned to</th>
      <th>Title</th>
      <th>Due</th>
      <th>Status</th>
    </tr>
    <% @submissions.each do |submission| %>
      <tr>
	<%= render partial: "submissions/row", locals: {submission: submission} %>
      </tr>
    <% end %>
  </table>
</section>

<section>
  <h3>Project Feedback</h3>
</section>
