<%= simple_form_for @cohort do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: false, placeholder: "Name"  %>
    <%= f.association :location, label: false, include_blank: "Location"  %>
    <%= f.association :course, label: false, include_blank: "Course" %>
    <%= f.input :start_date, label: false  %>
    <%= f.input :end_date, label: false, default: 3.month.from_now %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
