<tr>
  <td><%= link_to user.name || user.username, user_path(user) %></td>
  <td><%= avatar(user) if user.image_url && !user.image_url.strip.blank? %></td>

  <% if @is_admin %>
    <td class="<%= color_of_percent( present = percent_of(@attendances.select{|a| a.user == user}, 2)) %>">
      <%= present %>%
    </td>
    <td class="<%= color_of_percent( complete = percent_of(@submissions.select{|s| s.user == user}, 2)) %>">
      <%= complete %>%
    </td>
    <td class="<%= color_of_status( avg_obz = average_status(@observations.select{|o| o.user == user})) %>">
      <%= avg_obz %>
    </td>

    <td>
      <%= link_to("Remove", cohort_membership_path(@cohort, user), method: :delete, data: {confirm: "Are you sure?"}) %>
    </td>
    <td>
      <%  toggle_active_link_text = user.memberships.find_by(cohort: @cohort).active? ? "Deactivate" : "Re-activate" %>
      <%= link_to(toggle_active_link_text, toggle_active_cohort_membership_path(@cohort, user), method: :post, data: {confirm: "Are you sure?"}) %>
    </td>
  <% end %>

</tr>
