<h2 class="pills"><%= link_to @cohort.name, @cohort %></h2>

<h3 >Data Export</h3>
<%= button_to "Export", cohort_path(@cohort, format: 'csv'), method: :get %>

<h3 >Manage Memberships</h3>

<div class="row group">
  <section class="col column-6">
    <%= render partial: "memberships/form", locals: {cohort: @cohort} %>
  </section>

  <section class="col column-6">
    <%= render partial: "memberships/form", locals: {cohort: @cohort} %>
  </section>
</div>

<div class="row group">
  <section>
    <%= render partial: "tags/form",  locals: {
      tags: @existing_tags,
      memberships: @cohort.memberships}
      %>
    </section>
    <%= link_to "Refresh all Github info", gh_refresh_cohort_path(@cohort), class: "button", data: {confirm: "This might take a while. That OK?"} %>
</div>

<div class="row group">
  <section>
    <%= form_tag generate_invite_code_cohort_path(@cohort), method: "post" do  %>
      <%= button_tag "Generate Invite Token", data: {confirm: "This will revoke all previous invite codes. Are you sure?"} %>
    <% end %>

    <% if @cohort.invite_code %>
      <%= link_to "Invite Link", gh_authorize_url(invite_code: @cohort.invite_code) %>
    <% end %>
  </section>
</div>
