<h2 class="pills"><%= link_to @cohort.name, @cohort %></h2>

<% if @is_admin %>
  <%= button_to "Manage Cohort", manage_cohort_path(@cohort), method: :get %>
<% end %>

<section>
  <h3 class="fold" id="members"><a href="#members">Members</a></h3>
  <div>
    <h4>Roster</h4>

    <% cache cache_key_for_cohort(@cohort, @active_memberships, current_user) do %>
      <%= render partial: "memberships/table", locals: {
                                                memberships: @active_memberships,
                                                header: "Active Members",
                                                row_header: :user_name } %>
    <% end %>

    <% cache cache_key_for_cohort(@cohort, @inactive_memberships, current_user) do %>
      <%= render partial: "memberships/table", locals: {
                                                memberships: @inactive_memberships,
                                                header: "Inactive Members",
                                                row_header: :user_name } %>
    <% end %>

    <p>Admins:
      <% @admins.each do |user| %>
        <%= link_to user.name || user.username, user_path(user) %>
        <%= link_to("(x)", toggle_admin_membership_path(user.memberships.find_by(cohort: @cohort)), method: :post, data: {confirm: "Are you sure you want to remove this admin?"}) if @is_admin %>,
      <% end %>
    </p>
  </div>
</section>

<section>
  <h3 class="fold" id="attendance"><a href="#attendance">Attendance</a></h3>
  <div>
    <% cache cache_key_for_cohort(@cohort, @events, @is_admin) do %>
      <%= render partial: "events/table", locals: {events: @events}%>
    <% end %>
    <% if @is_admin %>
      <section data-event-for-today-already-exists="<%= @event_for_today_already_exists %>">
        <button class='js-show-attendance-form'>An Event for today already exists! Create one anyway...</button>
        <h4>New Event</h4>
        <%= render partial: "events/form", locals: {cohort: @cohort, event: Event.new} %>
      </section>
    <% end %>
  </div>
</section>

<section>
  <h3 class="fold" id="assignments"><a href="#assignments">Assignments</a></h3>
  <div>
    <% cache cache_key_for_cohort(@cohort, @assignments, @is_admin) do %>
      <%= render partial: "assignments/table", locals: {assignments: @assignments} %>
    <% end  %>
    <% if @is_admin %>
      <section>
        <h4>New Assignment</h4>
        <%= render partial: "assignments/form", locals: {cohort: @cohort, assignment: Assignment.new} %>
      </section>
    <% end %>
  </div>
</section>
