<div class="observation <%= color_of_status(observation.status) %>">
  <%= markdown(observation.body) %>
  <p><small><%= link_to observation.membership.user.name, observation.membership %> By
    <%= link_to observation.admin.username, user_path(observation.admin) %> for
    <%= link_to observation.cohort.name, cohort_path(observation.cohort) %>,
    <span title="<%= observation.created_at.strftime("%a %m/%d/%y %r") %>">
    <%= time_ago_in_words(observation.created_at) %> ago</span> <%= link_to "(x)", observation, method: :delete, data: {confirm: "Are you sure?"} %></small></p>
</div>
