<h2> All Assignments</h2>
<table class="tablesorter">
  <tr>
    <th>Title</th>
    <th>Group</th>
    <th>Percent Complete</th>
    <th>Type</th>
    <th>Repo Url</th>
    <th>Due Date</th>
  </tr>
  <% @assignments.each do |assignment| %>
  <tr>
    <td><%= link_to assignment.title, assignment_path(assignment) %></td>
    <td><%= link_to assignment.group.path, group_path(assignment.group) %></td>
    <td><%= percent_of(assignment.submissions, 2) %></td>
    <td><%= assignment.category %></td>
    <td><%= if assignment.repo_url then link_to repo_name(assignment.repo_url), assignment.repo_url end %></td>
    <td><%= assignment.due_date.strftime("%a, %m/%d/%y, %H:%M") %></td>
  </tr>
  <% end %>
</table>

<% if @is_admin %>
<section>
  <h3>Create an Assignment</h3>
  <%= render partial: "form", locals: {action: group_assignments_path(@group, @assignment)} %>
</section>

<section>
  <h3>Member Submission Summary</h3>
  <p>
    <span>Incomplete: <%= @submissions.select{|a| a.status === 1}.count %>,</span>
    <span>Missing: <%= @submissions.select{|a| a.status === 0}.count %>,</span>
    <span>Complete: <%= @submissions.select{|a| a.status === 2}.count %></span>
  </p>
  <table>
    <tr>
      <th></th>
      <th>Average status</th>
      <th>Total submissions</th>
      <th>&percnt; complete</th>
    </tr>
    <% @users.each do |user| %>
    <% submissions = @submissions.select{|s| s.user_id == user.id} %>
    <tr>
      <td><%= link_to user.name, user_path(user) %></td>
      <%= render partial: "users/data_row", locals: {collection: submissions} %>
    </tr>
    <% end %>
  </table>
</section>
<% end %>
