<h2> All Assignments</h2>
<table class="tablesorter">
  <tr>
    <th>Title</th>
    <th>Group</th>
    <th>Type</th>
    <th>Repo Url</th>
    <th></th>
  </tr>
  <% @assignments.each do |assignment| %>
  <tr>
    <%= render partial: "row", locals: {assignment: assignment} %>
    <% if @is_admin %>
    <td><%= link_to "Delete", assignment_path(assignment), method: :delete, data: {confirm: "You sure?"} %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<% if @is_admin %>
<section>
  <h3>Create an Assignment</h3>
  <%= form_tag group_assignments_path(@group, @assignment), method: :post do %>
  <%= render partial: "form", locals: {assignment: @assignment} %>
  <% end %>
</section>

<section>
  <h3>Member Submission Summary</h3>
  <p>
    <span>Incomplete: <%= @submissions.select{|a| a.status === 1}.count %>,</span>
    <span>Missing: <%= @submissions.select{|a| a.status === 0}.count %>,</span>
    <span>Complete: <%= @submissions.select{|a| a.status === 2}.count %></span>
  </p>
  <table>
    <tr>
      <th></th>
      <th>Average status</th>
      <th>Total submissions</th>
      <th>&percnt; complete</th>
    </tr>
    <% @users.each do |user| %>
    <% submissions = @submissions.select{|s| s.user_id == user.id} %>
    <tr>
      <td><%= link_to user.name, group_membership_path(@group, user) %></td>
      <%= render partial: "memberships/row", locals: {collection: submissions} %>
    </tr>
    <% end %>
  </table>
</section>
<% end %>
