<h2><%= "#{@assignment.title || "Assignment"}, #{@assignment.due_date_s}" %></h2>

<p><%= percent_of(@submissions, 2) %>% complete</p>
<% if @assignment.repo_url && !@assignment.repo_url.strip.blank? %>
  <button class="js-count-assignment-issues" data-issues-url="<%= assignment_issues_path(@assignment) %>">Count issues</button>
<% end %>
<table>
  <% @submissions.each do |submission| %>
  <tr>
    <td><%= link_to submission.user.name, user_path(submission.user) %></td>
    <td><%= link_to submission.user.username, submission.user.gh_url %></td>
    <td>
      <% if @assignment.repo_url && !@assignment.repo_url.strip.blank? %>
        <a href="<%= submission.issues_url %>" target="_blank" data-gh-issues="<%= submission.user.github_id %>">View Issues</a>
      <% end %>
    </td>
    <% Submission.statuses.keys.each do |status| %>
      <td><%= status_button(submission, status) %></td>
    <% end %>
    <td><%= link_to "Delete", submission, method: :delete, data: {confirm: "Delete the submission for #{submission.user.name}?"} %></td>
  </tr>
  <% end %>
</table>

<section>
  <h3>Edit Assignment</h3>
  <%= render partial: "form", locals: {assignment: @assignment} %>
  <%= link_to "Delete Assignment", assignment_path(@assignment), method: :delete, class: "button", data: {confirm: "You sure?"} %>
</section>

<section>
  <h3>Manually Create Submission</h3>
  <p>When an assignment is created, a submission is created automatically for each user of the group to which the assignment belongs.</p>
  <%= form_for [@assignment, Submission.new] do |f| %>
    <%= f.select :user_id, @assignment.group.nonadmins.collect{|u| [u.name, u.id]} %>
    <%= f.submit "Create" %>
  <% end %>
</section>
