<h2>
  <%= "#{@assignment.title || "Assignment"}, #{@assignment.due_date_s}"  %>
  ,
  <%= link_to("Issues", @assignment.issues_url(@cohort.nonadmins), target: '_blank') %>
</h2>
<h3>Base Score: <%=@assignment.base_score ? @assignment.base_score : "No Score" %></h3>
<p><%= percent_of(@submissions, "complete") %>% complete</p>
<% if @assignment.repo_url && !@assignment.repo_url.strip.blank? %>
  <button class="js-count-assignment-issues" data-issues-url="<%= assignment_issues_path(@assignment) %>">Count issues</button>
<% end %>
  <button class="js-toggle-notes">Hide Notes</button>

<% status_link_text = @show_na ? "Show All" : "Show only N/A" %>
<% active_link_text = @show_inactive ? "Show only active students" : "Include inactive students" %>

<p>
<%= link_to status_link_text, assignment_path(@assignment, cohort: @cohort, show_na: !@show_na, show_inactive: @show_inactive) %>
</p>

<p>
<%= link_to active_link_text, assignment_path(@assignment, cohort: @cohort, show_na: @show_na,  show_inactive: !@show_inactive) %>
</p>

<table id='submissions'>
  <% @submissions.each do |submission| %>
    <tr id="<%= submission.id %>" class='submission'>
      <td><%= link_to submission.user.name, user_path(submission.user) %></td>
      <td><%= link_to submission.user.username, submission.fork_url %></td>
      <td>
        <% if @assignment.repo_url && !@assignment.repo_url.strip.blank? %>
          <a href="<%= submission.issues_url %>" target="_blank" data-gh-issues="<%= submission.user.github_id %>">Issues</a>
        <% end %>
      </td>
      <% Submission.statuses.keys.each do |status| %>
        <td><%= status_button(submission, status) %></td>
      <% end %>
      <td><form class="js-score-update-form"><input class="submission-score" submission-id="<%=submission.id%>" type="text" value="<%=submission.score%>"></form></td>
      <td><%= link_to "x", submission, method: :delete, data: {confirm: "Delete the submission for #{submission.user.name}?"} %></td>
    </tr>
    <tr class="submission-note">
      <td colspan="8" class="form">
        <%= form_for submission do |f| %>
          <%= f.text_area :grader_notes, spellcheck: false, placeholder: "Notes" %>
          <%= f.submit "Save notes", class: "secondary" %>
          <div><%= markdown(submission.grader_notes) %></div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<section>
  <h3>Edit Assignment</h3>
  <%= render partial: "form", locals: {assignment: @assignment} %>
  <%= link_to "Delete Assignment", assignment_path(@assignment), method: :delete, class: "button", data: {confirm: "You sure?"} %>
</section>

<section>
  <h3>Manually Create Submission</h3>
  <p>When an assignment is created, a submission is created automatically for each user of the cohort to which the assignment belongs.</p>
  <%= form_for [@assignment, Submission.new] do |f| %>
    <%= f.select :membership_id, @assignment.cohort.memberships.where(status: Membership.statuses[:active]).collect{|m| [m.user.name, m.id]} %>
    <%= f.submit "Create" %>
  <% end %>
</section>
