<section>
  <h3>Members</h3>
  <section>
    <h4>Roster: <%= @nonadmins.count %> total</h4>
    <% if @hide_pics %>
      <a class="button" href="?show_pics=true">Load all photos</a>
    <% else %>
      <a class="button" href="?">Hide photos</a>
    <% end %>
    <% if @current_user_is_admin %>
    <%= link_to "Refresh all Github info", group_refresh_path(@group), class: "button", data: {confirm: "This might take a while. That OK?"} %>
    <% end %>
    <table>
      <% @nonadmins.each do |user| %>
      <tr>
        <%= render partial: "users/row", locals: {user: user} %>
        <% if @current_user_is_admin %>
          <td><%= link_to "Remove", group_membership_path(@group, user), method: :delete, data: {confirm: "Are you sure?"} %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </section>

  <section>
    <h4>Admins</h4>
    <table>
      <% @admins.each do |user| %>
      <tr>
        <%= render partial: "users/row", locals: {user: user} %>
        <td><%= link_to "Remove", group_membership_path(@group, user), method: :delete %></td>
      </tr>
      <% end %>
    </table>
  </section>

  <% if @current_user_is_admin %>
  <section>
    <h4>Add Member(s)</h4>
    <%= form_tag group_memberships_path(@group), method: :post do %>
    <%= render partial: "memberships/form" %>
    <% end %>
  </section>
  <% end %>
</section>

<section>
  <h3><%= @group.path %></h3>

  <% if @current_user_is_admin %>
  <section>
    <h4>Edit Group Name</h4>
    <%= form_tag group_path(@group), method: :patch do %>
    <%= render partial: "form", locals: {group: @group} %>
    <%= link_to "Delete group", group_path(@group), method: :delete, class: "button", data: {confirm: "You sure? This will orphan all of the grades, attendances, and everything else."} %>
    <% end %>
  </section>

  <section>
    <h4>Create subgroup</h4>
    <%= form_tag group_subgroup_path(@group), method: :post do %>
    <%= render partial: "form", locals: {group: Group.new(parent_id: @group.id)} %>
    <% end %>
  </section>
  <% end %>

  <section>
    <h4>Subgroups</h4>
    <ul class="tree"><%= group_descendant_list(@group) %></ul>
  </section>
</section>
