<% if @is_admin %>
<section>
  <h3>Group Management</h3>
  <section>
    <h4>Edit Group Name</h4>
    <%= form_tag group_path(@group), method: :patch do %>
    <%= render partial: "form", locals: {group: @group} %>
    <%= link_to "Delete group", group_path(@group), method: :delete, class: "button", data: {confirm: "You sure? This will orphan all of the grades, attendances, and everything else."} %>
    <% end %>
  </section>

  <section>
    <h4>Create subgroup</h4>
    <%= form_tag group_subgroup_path(@group), method: :post do %>
    <%= render partial: "form", locals: {group: Group.new(parent_id: @group.id)} %>
    <% end %>
  </section>
</section>

<section>
  <h3 id="observations">Observations Summary</h3>
  <table>
    <tr>
      <th></th>
      <th>Average status</th>
      <th>Total observations</th>
      <th>&percnt; green</th>
    </tr>
    <% @users.each do |user| %>
    <% observations = @observations.select{|o| o.user_id == user.id} %>
    <tr>
      <td><%= link_to user.name, user_path(user) %></td>
      <%= render partial: "users/data_row", locals: {collection: observations} %>
    </tr>
    <% end %>
  </table>
</section>
<% end %>

<section>
  <h3>Subgroups</h3>
  <ul class="tree"><%= group_descendant_list(@group) %></ul>
</section>
