<h2>Members</h2>

<% if @is_admin %>
<section>
  <h3>Create Member(s)</h3>
  <%= form_tag group_memberships_path(@group), method: :post do %>
  <input name="usernames" placeholder="One or more usernames, separated by spaces and/or commas" />
  <input type="checkbox" name="is_admin" id="is_admin" />
  <label for="is_admin">Is admin</label>
  <input type="submit" value="Add member(s)" />
  <% end %>
</section>
<% end %>

<section>
  <h3>Member Roster</h3>
  <p><%= @group.memberships.count %> total</p>
  <% if @hide_pics %>
    <a class="button" href="?show_pics=true">Load all photos</a>
  <% else %>
    <a class="button" href="?">Hide photos</a>
  <% end %>
  <table>
    <% @users.each do |user| %>
    <tr>
      <%= render partial: "user_row", locals: {user: user} %>
      <td>
        <% if @is_admin %>
        <%= link_to "Remove", group_membership_path(@group, user), method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>

  <% if @is_admin %>
  <%= link_to "Refresh all Github info", group_refresh_path(@group), class: "button", data: {confirm: "This might take a while. That OK?"} %>
  <% end %>
</section>

<section>
  <h3>Admins</h3>
  <table>
    <% @admins.each do |user| %>
    <tr>
      <%= render partial: "user_row", locals: {user: user} %>
    </tr>
    <% end %>
  </table>
</section>
