<div class="intro">
  <%= avatar(@user) if @user.image_url && !@user.image_url.strip.blank? %>
  <h2 title="user#<%= @user.id %>"><%= @user.username %></h2>
</div>

<section>
  <h3>Profile</h3>
  <%= form_tag user_path(@user), method: :patch do %>
  <%= render partial: "form", locals: {user: @user} %>
  <% end %>
  <% if @user.github_id %>
    <%= link_to "Refresh Github info", gh_refresh_path(github_id: @user.github_id), class: "button" %>
  <% end %>
</section>

<section>
  <h3>Groups</h3>
  <% if @memberships.count == 0 %>
  <p>None yet!</p>
  <% else %>
  <ul class="tree"><%= membership_list(@memberships) %></ul>
  <% end %>
</section>
