<div class="intro">
  <%= avatar(@user) %>
  <h2><%= @user.name %></h2>
</div>

<section id="cohorts_section">
  <h3>Cohorts</h3>
  <% if @user.memberships.count == 0 %>
    <p>None yet!</p>
  <% else %>
    <ul class="pills">
    <% @memberships.each do |membership| %>
      <li>
        <%= link_to(membership.cohort.name, membership) %>
      </li>
    <% end %>
    </ul>
  <% end %>
</section>

<section>
  <h3>Profile</h3>
  <%= render partial: "form" %>
  <% if @user.github_id %>
    <%= link_to "Refresh Github info", gh_refresh_user_path(@user), class: "button" %>
  <% end %>
</section>
