<div class="intro">
  <%= avatar(@user) if @user.image_url && !@user.image_url.strip.blank? %>
  <h2 title="user#<%= @user.id %>"><%= @user.username %></h2>
</div>

<section>
  <h3>Groups</h3>
  <% if @memberships.count == 0 %>
    <p>None yet!</p>
  <% else %>
    <ul>
    <% @memberships.each do |membership| %>
      <li class="breadcrumbs">
        <%= breadcrumbs(membership.group) %>
        <%= "(admin)" if membership.group.has_admin?(@user) %>
      </li>
    <% end %>
    </ul>
  <% end %>
</section>

<% if @user == current_user %>
  <section>
    <h3>Attendance</h3>
    <p>Tardy: <%= @attendances.select{|a| a.status === 1}.count %>, Absent: <%= @attendances.select{|a| a.status === 0}.count %></p>
    <table>
      <tr>
        <th>Title</th>
        <th>Group</th>
        <th>Event Date</th>
        <th>Submission Date</th>
        <th>Status</th>
      </tr>
      <% @attendances.each do |attendance| %>
      <% event = attendance.event %>
      <tr>
        <td><%= link_to event.title, event_path(event) %></td>
        <td><%= link_to event.group.path, group_path(event.group) %></td>
        <td><%= (link_to event.date.strftime("%a, %m/%d, %H:%M"), event_path(event)) if event.date %></td>
        <td><%= link_to attendance.created_at.strftime("%m/%d/%y %H:%M"), event_path(event) %></td>
        <td><%= attendance.status_english %></td>
      </tr>
      <% end %>
    </table>
  </section>

  <section>
    <h3>Submissions</h3>
    <p>
      Percent Complete: <span data-percent-complete=""></span> |
      Percent incomplete: <span data-percent-incomplete=""></span>
    </p>
    <table>
      <tr>
        <th>Title</th>
        <th></th>
        <th></th>
        <th>Status</th>
      </tr>
      <% @submissions.each do |submission| %>
      <tr>
        <td><%= link_to submission.assignment.title, assignment_submission_path(submission.assignment, submission) %></td>
        <td><%= link_to submission.user.name, user_path(submission.user) %></td>
        <td><%= link_to submission.user.username, submission.user.gh_url %></td>
        <td>
  	<span data-github-pr-submitted="<%= assignment_submission_path(submission.assignment, submission) %>">
  	  <svg width='32px' height='32px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-default"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(0 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(30 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.08333333333333333s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(60 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.16666666666666666s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(90 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.25s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(120 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.3333333333333333s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(150 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.4166666666666667s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(180 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(210 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5833333333333334s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(240 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.6666666666666666s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(270 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.75s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(300 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.8333333333333334s' repeatCount='indefinite'/></rect><rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(330 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.9166666666666666s' repeatCount='indefinite'/></rect></svg>
  	</span>
        </td>
      </tr>
      <% end %>
    </table>
  </section>
<% end %>

<% if @grades_due %>
  <section>
    <h3>Grades due</h3>
    <table>
      <% @grades_due.each do |submission| %>
        <tr>
          <%= render partial: "submissions/row", locals: {submission: submission} %>
        </tr>
      <% end %>
    </table>
  </section>
<% end %>

<section>
  <h3>Profile</h3>
  <%= form_tag user_path(@user), method: :patch do %>
  <%= render partial: "form" %>
  <% end %>
  <% if @user.github_id %>
    <%= link_to "Refresh Github info", gh_refresh_path(github_id: @user.github_id), class: "button" %>
  <% end %>
</section>
