<div class="intro">
  <%= avatar(@user) if @user.image_url && !@user.image_url.strip.blank? %>
  <h2 title="user#<%= @user.id %>"><%= @user.username %></h2>
</div>

<section>
  <h3>Profile</h3>
  <%= form_tag user_path(@user), method: :patch do %>
  <%= render partial: "form" %>
  <% end %>
  <% if @user.github_id %>
    <%= link_to "Refresh Github info", gh_refresh_path(github_id: @user.github_id), class: "button" %>
  <% end %>
  <%= link_to "Refresh Memberships", refresh_memberships_user_path(@user), method: :put, class: "button" %>

</section>

<section>
  <h3>Groups</h3>
  <% if @memberships.count == 0 %>
  <p>None yet!</p>
  <% else %>
  <ul class="tree"><%= membership_list(@memberships) %></ul>
  <% end %>
</section>

<section>
  <h3>Attendance</h3>
  <p>Tardy: <%= @attendances.select{|a| a.status === 1}.count %>, Absent: <%= @attendances.select{|a| a.status === 0}.count %></p>
  <table>
    <tr>
      <th>Title</th>
      <th>Group</th>
      <th>Event Date</th>
      <th>Submission Date</th>
      <th>Status</th>
    </tr>
    <% @attendances.each do |attendance| %>
    <% event = attendance.event %>
    <tr>
      <td><%= link_to event.title, event_path(event) %></td>
      <td><%= link_to event.group.path, group_path(event.group) %></td>
      <td><%= (link_to event.date.strftime("%a, %m/%d, %H:%M"), event_path(event)) if event.date %></td>
      <td><%= link_to attendance.created_at.strftime("%m/%d/%y %H:%M"), event_path(event) %></td>
      <td><%= attendance.status_english %></td>
    </tr>
    <% end %>
  </table>
</section>

<section>
  <h3>Submissions</h3>
  <p>
    Percent Complete: <%= @submissions_percent_complete %>% |
    Percent incomplete: <%= 100 - @submissions_percent_complete %>%
  </p>
  <table>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th>Status</th>
    </tr>
    <% @submissions.each do |submission| %>
    <tr>
      <td><%= link_to submission.assignment.title, assignment_submission_path(submission.assignment, submission) %></td>
      <td><%= link_to submission.user.name, user_path(submission.user) %></td>
      <td><%= link_to submission.user.username, submission.user.gh_url %></td>
      <td>
	<% if submission.github_pr_submitted %>
	  <%= link_to "View Pull Request", submission.github_pr_submitted["html_url"]%>
	  <% if submission.github_pr_submitted["state"] == "open" %>
	    <small>(open)</small>
	  <% end %>
	<% else %>
	  Missing.
	<% end %>
      </td>
    </tr>
    <% end %>
  </table>
</section>

<section>
  <h3>Project Feedback</h3>
</section>
