<div class="intro">
  <%= avatar(@user) if @user.image_url && !@user.image_url.strip.blank? %>
  <h2 title="user#<%= @user.id %>"><%= @user.username %></h2>
</div>

<% if is_admin_of_anything?(@user) %>
  <section>
    <h3>Groups</h3>
    <% if @memberships.count == 0 %>
      <p>None yet!</p>
    <% else %>
      <ul class="pills">
      <% @memberships.each do |membership| %>
        <li><%= breadcrumbs(membership.group, @user) %></li>
      <% end %>
      </ul>
    <% end %>
  </section>
<% else %>
  <section>
    <h3>Attendance</h3>
    <p>Tardy: <%= @attendances.select{|a| a.status === 1}.count %>, Absent: <%= @attendances.select{|a| a.status === 0}.count %></p>
    <table>
      <% @attendances.each do |attendance| %>
        <% if attendance.status != 2 %>
          <tr>
            <td><%= attendance.date %></td>
            <td><%= attendance.status_english %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </section>

  <section>
    <h3>Homework Submissions</h3>
    <p>Percent Complete: <%= percent_of(@submissions, 2) %>%</p>
    <table>
      <% @submissions.each do |submission| %>
      <tr>
        <td><%= link_to submission.assignment.title, submission.assignment.repo_url %></td>
        <td><%= submission.status_english %></td>
      </tr>
      <% end %>
    </table>
  </section>
<% end %>

<section>
  <h3>Profile</h3>
  <%= render partial: "form" %>
  <% if @user.github_id %>
    <%= link_to "Refresh Github info", gh_refresh_path(github_id: @user.github_id), class: "button" %>
  <% end %>
  <%= link_to "Refresh Memberships", refresh_memberships_user_path(@user), method: :put, class: "button" %>
</section>
