<div class="intro">
  <%= avatar(@user) if @user.image_url && !@user.image_url.strip.blank? %>
  <h2 title="user#<%= @user.id %>"><%= @user.username %></h2>
</div>

<section>
  <h3>Profile</h3>
  <%= form_tag user_path(@user), method: :patch do %>
  <%= render partial: "form" %>
  <% end %>
  <% if @user.github_id %>
    <%= link_to "Refresh Github info", gh_refresh_path(github_id: @user.github_id), class: "button" %>
  <% end %>
  <%= link_to "Refresh Memberships", refresh_memberships_user_path(@user), method: :put, class: "button" %>

</section>

<section>
  <h3>Groups</h3>
  <% if @memberships.count == 0 %>
  <p>None yet!</p>
  <% else %>
  <ul class="tree"><%= membership_list(@memberships) %></ul>
  <% end %>
</section>

<section>
  <h3>Attendance</h3>
  <p>Tardy: <%= @attendances.select{|a| a.status === 1}.count %>, Absent: <%= @attendances.select{|a| a.status === 0}.count %></p>
  <table>
    <tr>
      <th>Group</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
    <% @attendances.each do |attendance| %>
    <tr>
      <%= render partial: "attendance/row", locals: {submission: submission}%>
    </tr>
    <% end %>
  </table>
</section>

<section>
  <h3>Assignments</h3>
  <table>
    <tr>
      <th>Assigned to</th>
      <th>Title</th>
      <th>Due</th>
      <th>Status</th>
    </tr>
    <% @submissions.each do |submission| %>
    <tr>
      <%= render partial: "submission/row", locals: {submission: submission}%>
    </tr>
    <% end %>
  </table>
</section>

<section>
  <h3>Project Feedback</h3>
</section>
