<table>
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Present</th>
    <th>Total</th>
  </tr>
  <% events.each do |event| %>
    <% attendances = event.attendances %>
    <tr class="<%= "today" if event.occurs_at.today? %>">
      <td><%= link_to_if @is_admin, event.occurs_at_s, event_path(event, cohort: event.cohort, show_na: true) %></td>
      <td><%= link_to_if @is_admin, event.title, event_path(event, cohort: event.cohort, show_na: true) %></td>
      <td><%= percent_of(attendances, 2) %>%</td>
      <td><%= attendances.count %></td>
    </tr>
  <% end %>
</table>
