<h2>Attendance</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Group</th>
    <th>Tardy</th>
    <th>Present</th>
    <th>Invited</th>
    <th></th>
  </tr>
<% @events.each do |event| %>
  <tr>
    <%= render partial: "row", locals: {event: event} %>
  </tr>
<% end %>
</table>

<section>
  <h4>Create an event</h4>
  <%= form_tag group_events_path(@group), method: :post do %>
  <%= render partial: "form", locals: {event: @event} %>
  <% end %>
  </h3>
</section>

<section>
  <h3>Member Attendance Summary</h3>
  <p>
    <span>Tardy: <%= @attendances.select{|a| a.status === 1}.count %>,</span>
    <span>Absent: <%= @attendances.select{|a| a.status === 0}.count %>,</span>
    <span>Present: <%= @attendances.select{|a| a.status === 2}.count %></span>
  </p>
  <table>
    <tr>
      <th></th>
      <th>Average status</th>
      <th>Total events</th>
      <th>&percnt; present</th>
    </tr>
    <% @users.each do |user| %>
    <% attendances = @attendances.select{|a| a.user_id == user.id} %>
    <tr>
      <td><%= link_to user.name, user_path(user) %></td>
      <%= render partial: "memberships/row", locals: {collection: attendances} %>
    </tr>
    <% end %>
  </table>
</section>
