<h2><%= "#{@event.title}, #{@event.date_s}" %></h2>

<% status_link_text = @show_na ? "Show All" : "Show only N/A" %>
<% active_link_text = @show_inactive ? "Show only active students" : "Include inactive students" %>

<p>
<%= link_to status_link_text, event_path(@event, group: @group, show_na: !@show_na, show_inactive: @show_inactive) %>
</p>

<p>
<%= link_to active_link_text, event_path(@event, group: @group, show_na: @show_na,  show_inactive: !@show_inactive) %>
</p>

<table>
  <% @attendances.each do |attendance| %>
  <tr>
    <td><%= avatar(attendance.user) %></td>
    <td><%= link_to attendance.user.name, attendance.user %></td>
    <% Attendance.statuses.keys.each do |status| %>
      <td><%= status_button(attendance, status) %></td>
    <% end %>
    <td><%= link_to "x", attendance, method: :delete, data: {confirm: "Delete the attendance for #{attendance.user.name}?"} %></td>
  </tr>
  <% end %>
</table>

<section>
  <h3>Edit Event</h3>
  <%= render partial: "events/form", locals: {event: @event} %>
  <%= link_to "Delete Event", event_path(@event), method: :delete, class: "button", data: {confirm: "You sure?"} %>
</section>

<section>
  <h3>Manually Create Attendances</h3>
  <p>When an event is created, an attendance is created automatically for each user of the group to which the event belongs.</p>
  <%= form_for [@event, Attendance.new] do |f| %>
    <%= f.select :user_id, @event.group.nonadmins.collect{|u| [u.name, u.id]} %>
    <%= f.submit "Create" %>
  <% end %>
</section>
