<td><%= link_to submission.assignment.title, submission.assignment.repo_url, target: "_blank" %></td>
<td><%= link_to submission.user.name, user_path(submission.user) %></td>
<td><%= link_to submission.user.username, submission.user.gh_url %></td>
<td><a href="<%= submission.issues_url %>" target="_blank" data-gh-issues="<%= submission.user.github_id %>">View Issues</a></td>
<%= status_buttons(submission) %>
