<% user = submission.user; assignment = submission.assignment %>
<% out_of_score = ((score = assignment.base_score) ? " / #{score}" : "") %>
<% admin = (can? :manage, submission) %>
<tr>
  <td rowspan="2">
    <%= link_to submission.assignment.title, submission.assignment %>
  </td>
  <td rowspan="2">
    <%= link_to "#{user.first_name} #{user.last_name[0]}.", membership_path(submission.membership) %>
  </td>
  <td rowspan="2">
    <% if assignment.repo_url && !assignment.repo_url.strip.blank? %>
      <%= link_to "Issues", submission.issues_url, {class: "fa fa-github-alt"} %>
      <span data-gh-issues="<%= user.github_id %>"></span>
      <%= link_to "Fork", submission.fork_url, {class: "fa fa-code-fork"} %>
    <% end %>
  </td>
  <td>
    <% if admin %>
      <%= form_for submission, html:{id: nil}, data:{autosave: true} do |f| %>
        <%= f.text_field :score, class: "sm", id: nil %><%= out_of_score %>
      <% end %>
    <% else %>
      <%= "#{submission.score}#{out_of_score}" %>
    <% end %>
  </td>
  <td>
    <% if admin %>
      <%= render partial: "components/status_buttons", locals: {record: submission} %>
    <% else %>
      <%= submission.status %>
    <% end %>
  </td>
  <td>
    <% if admin %>
      <%= render partial: "components/delete_button", locals: {record: submission} %>
    <% end %>
  </td>
</tr>
<tr>
  <td colspan="3" class="offset">
    <% if admin %>
      <%= form_for submission, html:{id: nil}, data:{autosave: true} do |f| %>
        <%= f.text_area :grader_notes, spellcheck: false, placeholder: "Notes", id: nil %>
      <% end %>
    <% else %>
      <%= markdown(submission.grader_notes || "> . . .") %>
    <% end %>
  </td>
</tr>
