<% if @due_submissions || @due_attendances %>
  <section>
    <h3>To-Do</h3>
    <p>All records with the status of "n/a" in cohorts you've marked "squad":</p>
    <section>
      <h4>Grades</h4>
      <table>
        <tr>
          <th>Name</th>
          <th>Details</th>
          <th></th>
          <th colspan="4"></th>
        </tr>
        <% @due_submissions.each do |submission| %>
        <tr>
          <td><%= link_to submission.user.name, submission.user %></td>
          <td><%= link_to submission.assignment.title, assignment_path(submission.assignment, anchor: submission.id) %></td>
          <td>
            <% if submission.assignment.repo_url && !submission.assignment.repo_url.strip.blank? %>
              <a href="<%= submission.issues_url %>" target="_blank" data-gh-issues="<%= submission.user.github_id %>">Issues</a>,
              <a href="<%= submission.fork_url %>">Fork</a>
            <% end %>
          </td>
          <% Submission.statuses.keys.each do |status| %>
            <td><%= status_button(submission, status) %></td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </section>

    <section>
      <h4>Attendance</h4>
      <table>
        <tr>
          <th>Name</th>
          <th>Event Title</th>
          <th>Event Date</th>
          <th colspan="4"></th>
        </tr>
        <% @due_attendances.each do |attendance| %>
        <tr>
          <td><%= link_to attendance.user.name, attendance.user %></td>
          <td><%= attendance.event.title %></td>
          <td><%= link_to attendance.event.date_s, attendance.event %></td>
          <% Attendance.statuses.keys.each do |status| %>
            <td><%= status_button(attendance, status) %></td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </section>
  </section>
<% end %>
