<section>
  <h2>Cohorts You Admin</h2>

  <% if @todo_info.length == 0 %>
    <p>None active</p>
  <% end %>

  <% @todo_info.each do |cohort, items| %>
    <h3><%= link_to cohort.name, cohort %></h3>
    <section>
      <h4>Submissions</h4>
      <table>
        <%= render partial: "submissions/thead", locals: {submissions: items[:submissions]} %>
        <% items[:submissions].each do |submission| %>
          <%= render partial: "submissions/tr", locals: {submission: submission} %>
        <% end %>
      </table>
    </section>

    <section>
      <h4>Attendance</h4>
      <table>
        <%= render partial: "attendances/thead", locals: {attendances: items[:attendances]} %>
        <% items[:attendances].each do |attendance| %>
          <%= render partial: "attendances/tr", locals: {attendance: attendance} %>
        <% end %>
      </table>
    </section>

  <% end %>
  <h2>Past Cohorts</h2>
  <ul class="pills">
    <% @inactive_cohorts.each do |cohort| %>
      <li><%= link_to cohort.name, cohort %></li>
    <% end %>
  </ul>
</section>
