<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @course.short_name %>
</p>

<p>
  <strong>Format:</strong>
  <%= @course.format %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %> |
<%= link_to 'New Cohort', new_cohort_path %>
