<% event  = attendance.event %>
<% user   = attendance.user %>
<% admin  = (can? :manage, attendance) %>
<tr data-record>
  <td data-sort-field="name">
    <%= link_to "#{user.first_name} #{user.last_name[0]}.", membership_path(attendance.membership) %>
  </td>
  <td>
    <%= avatar(user) %>
  </td>
  <td data-sort-field="title">
    <%= link_to event.title, event %>
  </td>
  <td data-sort-field="date">
    <%= link_to event.occurs_at_s, event %>
  </td>
  <% if admin %>
  <td data-sort-field="ip" class='<%= 'error' if request.remote_ip != attendance.ip_address %>'>
    <%= attendance.ip_address %>
  </td>
  <% end %>
  <td>
    <% if admin %>
      <%= render partial: "components/status_buttons", locals: {record: attendance} %>
    <% else %>
      <%= attendance.status %>
    <% end %>
  </td>
  <td>
    <% if admin %>
      <%= render partial: "components/delete_button", locals: {record: attendance} %>
    <% end %>
  </td>
</tr>
