<!DOCTYPE html>
<html>
<head>
  <title>Garnet</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700|Merriweather:400,700,300' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to root_path do %><span>GA</span>RNET</a><% end %></h1>
    <nav>
      <% if signed_in? %>
      <%= link_to current_user.username, user_path(current_user) %>
      <%= link_to "sign out", sign_out_path %>
      <% else %>
      <%= link_to "sign up", new_user_path %>
      <%= link_to "sign in", sign_in_path %>
      <% end %>
    </nav>
  </header>
  <main>
    <% if flash.count > 0 %>
    <section class="errareHumanumEst">
    <% flash.each do |key, value| %>
      <p><%= value %></p>
    <% end %>
    </section>
    <% end %>
    <% if @group %>
    <h2 class="breadcrumbs links"><%= breadcrumbs(@group, @user || nil) %></h2>
    <p><small>
      <%= link_to "Assignments", group_assignments_path(@group) %>,
      <%= link_to "Attendance", group_events_path(@group) %>,
      <%= link_to "Observations", group_observations_path(@group) %>
    </small></p>
    <% end %>
    <%= yield %>
  </main>
  <footer>
    <div><a class="fa fa-code-fork" href="https://github.com/ga-dc/garnet" target="_blank"> GitHub</a></div>
    <div><%= link_to "Orphans", orphans_path %></div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js" charset="utf-8">
  </script>
</body>
</html>
