<!DOCTYPE html>
<html>
<head>
  <title>Garnet</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
  <header>
    <h1><%= link_to root_path do %><span>GA</span>RNET<% end %></h1>
    <nav>
      <% if signed_in? %>
      <%= link_to current_user.username, user_path(current_user) %>
      <%= link_to "sign out", sign_out_path %>
      <% else %>
      <%= link_to "sign up", new_user_path %>
      <%= link_to "sign in", sign_in_path %>
      <% end %>
    </nav>
  </header>
  <main>
    <% if flash.count > 0 %>
      <section class="errareHumanumEst">
      <% flash.each do |key, value| %>
        <p><%= simple_format(value) %></p>
      <% end %>
      </section>
    <% end %>
    <% if @cohort %>
      <h2 class="pills"><%= link_to @cohort.name, @cohort %></h2>
    <% end %>
    <%= yield %>
  </main>
  <footer>
    <div class="mantra">
      <%= image_tag("duck.gif") %>
      <p><%= Mantra.all.sample.html_safe %></p>
    </div>
    <div class="links">
      <%= link_to "Orphans", orphans_users_path %>
      <a class="fa fa-code-fork" href="https://github.com/ga-dc/garnet" target="_blank">GitHub</a>
    </div>
  </footer>
  <%= javascript_include_tag 'application' %>
</body>
</html>
